.signup-wrapper {

    .bcg {
        width: 100%;
        height: 100vh;
    }
    .signup {
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        z-index: 3;
       top: 50px;
        left: 35%;
    

        .cta {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .already {
                display: flex;
                text-align: center;
                color: goldenrod;
                font-size: 1.1em;

                .already-signin {
                    color: goldenrod;
                }
            }

        }        
    }
}

